*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27,27,50,0.8);
    --color-green: #37af65;

}

body {
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

body::before {
    content: '';
    /* background-image: linear-gradient(115deg,#3a3a3a99,  */
    /* rgba(58, 58, 58, 0.3)); */
    opacity: 0.8;
    background: var(--color-darkblue);
    position: fixed;
    z-index: -1;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p {
    margin-bottom: 0.5rem;
}


header {
    text-align: center;
    margin-bottom: 1.875rem;
}

label {
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    font-size: 1.125rem;
}
span {
    font-size: 0.9rem;
    margin-left: 0.25rem;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
    /* text-align: center; */
}

#title{
    font-weight: 400;
}

#description {
    margin-bottom: 0.5rem;
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
}

#survey-form {
    padding: 2.5rem;
    background-color: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
    
}

.form-group {   
    margin: 0 auto 1.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    border-radius: 0.25rem;
    border: none;
    padding: 0.375rem 0.75rem;
    color: #495057;
}

.input-radio,.input-check {
    min-height: 1.25rem;
    min-width: 1.25rem;
    margin-right: 0.625rem;
}

textarea {
    width: 100%;
    padding: 0.625rem;
    min-height: 120px;
    resize: vertical;
}
button {
    cursor: pointer;
    background-color: var(--color-green);
    color: var(--color-white) !important;
}